/.obsidian/workspace.json
/.obsidian/workspace-mobile.json
#/.obsidian/plugins/obsidian-git/data.json
/.obsidian/plugins/recent-files-obsidian/data.json
/.obsidian/plugins/remember-cursor-position/cursor-positions.json
/conflict-files-obsidian-git.md
.trash/
.obsidian/icons/

# .gitignore - Ignore common image formats
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.tif
*.webp
*.heic
*.heif
*.ico
*.svg
*.psd
*.xcf
*.raw
*.cr2
*.nef
*.orf
*.arw


# Allow site assets
!site/src/lib/assets/favicon.svg
